@model IEnumerable<NetIdentity.Models.Order>
@{
    ViewData["Title"] = "Orders";
}
<h2>Pedidos</h2>
<table>
    <thead><tr><th>Id</th><th>Usuario</th><th>Fecha</th><th>Total</th></tr></thead>
    <tbody>
    @foreach(var o in Model)
    {
        <tr>
            <td>@o.Id</td>
            <td>@o.UserId</td>
            <td>@o.CreatedAt.ToLocalTime()</td>
            <td>@o.Total</td>
        </tr>
    }
    </tbody>
</table>
