@model IEnumerable<NetIdentity.Models.Product>
@{
    ViewData["Title"] = "Productos";
}
<h2>Productos</h2>
<table>
    <thead><tr><th>Id</th><th>Nombre</th><th>Precio</th><th>Stock</th></tr></thead>
    <tbody>
    @foreach(var p in Model)
    {
        <tr>
            <td>@p.Id</td>
            <td>@p.Name</td>
            <td>@p.Price</td>
            <td>@p.Stock</td>
        </tr>
    }
    </tbody>
</table>
